<div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h3>Agrega una Tarea</h3>

    <form action="/tasks/add" method="post">
        {{! Titulo }}
        <div>
            <label for="title">Escribe un titulo</label>
            <input type="text" name="title" id="title" class="form-control rounded-0 bg-dark text-white"
                placeholder="Titulo" />
        </div>

        {{! Descripcion }}
        <div class="">
            <label for="description">Escribe una Descripcion</label>
            <textarea id="description" name="description" rows="3" class="form-control rounded-0 bg-dark text-white"
                placeholder="Descripcion"></textarea>
        </div>

        <button class="btn btn-success btn-sm mt-2">Agregar</button>
    </form>
</div>