<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card card-body p-4 rounded-0 bg-dark text-white">
        <h3>Actualiza una Tarea</h3>
        <form action="/tasks/{{task._id}}/edit" method="post">
          {{! Titulo }}
          <div class="mb-3">
            <label for="title">Escribe un titulo</label>
            <input
              type="text"
              name="title"
              id="title"
              class="form-control rounded-0 bg-dark text-white"
              placeholder="Titulo"
              value="{{task.title}}"
              autofocus
              required
            />
          </div>

          {{! Descripcion }}
          <div class="mb-3">
            <label for="description">Escribe una Descripcion</label>
            <textarea
              id="description"
              name="description"
              rows="3"
              class="form-control rounded-0 bg-dark text-white"
              placeholder="Descripcion"
              required
            >{{task.description}}</textarea>
          </div>
          <button class="btn btn-success btn-sm mt-2">Actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>