body {
    /* background: #292E49;
    background: -webkit-linear-gradient(to right, #536976, #292E49);
    background: linear-gradient(to right, #536976, #292E49); */
    background-color: #314755;
}

.bg-black{
    background-color: black;
}